/*
 * File:	kCom.css
 * What:	General styles for kCom.i
 * Author:	Frode Klevstul (frode at klevstul.com)
 * When:	2002 - 2007
 */


/* ******************************************
 * 10px -> 7pt -> xx-small
 *
 *
 * ******************************************
 */





/* ------------------------------------------------
 *
 *
 *  GENERAL SETTINGS
 *  Body, form, tables, input fields etc...
 *
 *
 * ------------------------------------------------
 */

BODY {
	padding:			15px;
	background-color:	#B9121B;
	color:				#FF1925;
}

BODY,P,TD{
	font-family:		Arial, "Trebuchet MS", Verdana, Helvetica, Serif;
	font-size:			11px;
	font-weight:		500;
	margin-top:			0px;
	margin-bottom:		0px;
	text-align:			left;
	vertical-align:		middle;
}

TD{
	text-align:			left;
}

FORM {
	margin-top:			0px;
	margin-bottom:		0px;
}

IMG {
	border-style:		solid;
	border-width:		1px;
	border-color:		#FF1925;
}

IFRAME {
	border-style: 		solid;
	border-width: 		0px;
	border-color: 		#FF1925;
}

TEXTAREA, INPUT {
	font-size: 			12px;
}

H1 {
   font-size:			18px;
}

H2 {
   font-size:			14px;
}

H3 {
   font-size:			10px;
}

A:link {
	text-decoration:	none;
	color:				#FF1925;
	background-color:	#5B1B1B;
	padding-left:		5px;
	padding-right:		5px;
}

A:active {
	color:				white;
	background-color:	#FF1925;
}

A:visited {
	text-decoration:	none;
	color:				#FF1925;
	background-color:	#5B1B1B;
	padding-left:		5px;
	padding-right:		5px;
}

A:hover {
	color:				#5B1B1B;
	background-color:	#FF1925;
}



/* ------------------------------------------------
 *
 *
 *  SPECIAL SETTINGS
 *  Miscellaneous special settings...
 *
 *
 * ------------------------------------------------
 */

/* The main table that surrounds everything on all pages */
TABLE.mainTable {
	border-style:			dotted;
	border-width:			1px;
	border-color:			#B9121B;
	border-spacing: 		0pt 0pt;
	background-color:		#4C1B1B;

	vertical-align: 		middle;
	text-align: 			right;
}

/* The TD surrounding the main content part of the page */
TD.mainInfo {
	padding-top:			20px;
	padding-bottom:			30px;
	padding-left:			10px;
	padding-right:			10px;

	border-color: 			#B9121B;
	border-width: 			1px;
	border-top-style: 		dotted;
	border-bottom-style: 	dotted;
}

/* The TD surrounding the top links */
TR.topLinks {
	background-color: 		#4C1B1B;
	color: 					#FF1925;
}

/* The TD surrounding the bottom info (misc links etc) */
TD.bottomInfo {
	vertical-align: 		middle;
	text-align: 			center;
	background-color: 		#4C1B1B;
	color: 					#FF1925;

	font-size: 				9px;
	padding-top:			10px;
	line-height: 			20px;
}

/* Discrete author links */
A.discreetAuthorLineLink{
	font-size: 			9px;
	text-decoration: 	none;
	background-color:	#471A1A;
	color: 				#FF1925;
}

/* Discrete links */
A.discreetLink{
	text-decoration: 	none;
	background-color:	#471A1A;
	color: 				#FF1925;
}

/* Small tiny text */
.smallText{
	font-size: 			9px;
}

/* HUGE text */
.hugeText{
	font-size: 			50px;
}

/* Sets up the layout for all boxes */
TABLE.box {
	width:				100%;
	height:				100%;

	border-left-style:	solid;
	border-left-color:	#FF1925;
	border-left-width:	thin;

	border-right-style:	solid;
	border-right-color:	#FF1925;
	border-right-width: thin;

	border-bottom-style: solid;
	border-bottom-color: #FF1925;
	border-bottom-width: thin;

	border-top-style: 	none;

	padding: 			0px;
	border-spacing: 	0pt 0pt;
}

/* Used inside boxes (around the content) */
TABLE.boxTable {
	width: 				100%;
	height: 			100%;
	padding: 			0px;
	border-spacing: 	0pt 0pt;
	border-style: 		none;
	color: 				#FF1925;
	background-color: 	#4C1B1B;
}

TD.boxTable {
	vertical-align: top;
}

.boxHeading {
	font-size:			12px;
	font-weight:		bold;
	color:				#4C1B1B;
	background-color:	#FF1925;
	height:				22px;
	text-transform:		uppercase;
	padding-left:		5px;
}

/* author line when showing feed objects */
TR.feederAuthorLine {
	background-color:	#471A1A;
}

/* settings for comments */
TR.commentLine {
	background-color:	#471A1A;
	color:				#FF1925;
}

/* line for displaying content-tags */
TR.tagLine {
	background-color: #FF1925;
}

/* colour for error messages */
.errorMessage {
	color: #ff0000;
}

/* colour for alternate / uneven lines in listings */
.alternateLine {
	background-color: #471A1A;
}

/* area for google ajax search result */
.googleSearch {
	color: #636363;
}

.googleSearch A:link {
	color:				#ffffff;
}

.googleSearch A:active {
	color:				white;
}

.googleSearch A:visited {
	color:				#ffffff;
}

.googleSearch A:hover {
	color:				#8C8C8C;
	background-color:	#424242;
}

/* background for kProject files */
.kProject {
	background-color: #4C1B1B;
}
